/*----------------------------------------------------------------------------
  Global Reset
----------------------------------------------------------------------------*/

* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix { height: 1%; }
.clearfix { display:inline-block; }
.clearfix { display: block; }

/*----------------------------------------------------------------------------
  Main Layout
----------------------------------------------------------------------------*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75em;
  color: #333;
  overflow-x: hidden;
}

p {
  color: #222;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  margin: 0.5em 0 1em;
}

sup {
  vertical-align: bottom;
  top: -0.25em !important;
  display: inline-block;
  position: relative;
  margin-left: -3px;
}

a.top-link {
  color: #999;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
}

a.top-link:hover {
  color: black;
  text-decoration: none;
}

strong, span.highlight {
  font-style: italic;
  font-weight: 400;
}

a {
  color: #1277dc;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #1277dc;
  text-decoration: underline;
}

hr {
  margin: 20px 0 25px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  color: #ddd;
  border: none;
}
hr:before {
  content: '\2022 \2022 \2022 \2022 \2022';
}

.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}


@media(max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.header-container {
  margin: 0 auto;
}

header {
  margin: 20px 0 45px 0;
}

li { margin-left: 30px; }

ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  font-weight: 200;
}

ul.nav li {
  margin: 0px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
}

@media(max-width: 768px) {
  ul.nav {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    float: none;
    font-weight: 100;
  }
}

ul.nav li a {
  color: deepskyblue;
  margin-right: 10px;
  text-decoration: none;
}
ul.nav li a:hover {
  color: #2382c8;
}

ul.nav li.logo {
  text-transform: none;
}
ul.nav li.logo a {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  background: #556270;
  border-radius: 100px;
  box-shadow: 0 1px 0 rgba(255,255,255,1.0);
}

/*------------------------------------------------------------------------------
  Home Page
------------------------------------------------------------------------------*/

.listing {
  margin-top: 40px;
}

.listing .post {
  margin: 40px 0;
}
.listing .post:first-child {
  margin-top: 22px;
}

.listing .post p.date {
  font-size: 14px;
  color: green;
}

.listing .post h2 {
  margin: 0 0 -20px 0;
  font-size: 30px;
  border: none;
}

.listing .post h2 a {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
}

.listing .post h2 i {
  font-size: 40px;
}

.listing .post .post-summary {
  font-size: 20px;
  color: #777;
}

.listing .post.other {
  color: #666;
  /*border-left: 1px solid #ddd;*/
}
.listing .post.other h2 {
  margin: -5px 0 -15px 0;
  font-size: 21px;
  font-weight: lighter;
}
.listing .post.other h2 a {
  color: black;
}

.listing .post.other h2 a:hover {
  color: #2382c8;
}
.listing .post.other p:last-child {
  margin-bottom: 0;
}

.listing .post.other .icon {
  float: left;
  margin-top: -3px;
  margin-left: -35px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #ddd;
}
.listing .post.other .icon:hover {
  text-decoration: none;
  color: #bbb;
}

.listing blockquote {
  border-left-color: #ddd;
}

@media only screen and (max-width: 520px) {
  .listing .post {
    margin: 30px 0;
  }

  .listing .post h2 {
    font-size: 24px;
  }

  .listing .post .post-summary {
    font-size: 18px;
  }
}

/*------------------------------------------------------------------------------
  Post Styles
------------------------------------------------------------------------------*/

p.date {
  color: #aaa;
  margin: 20px 0 0 0;
}

p.intro {
  font-size: 32px;
  line-height: 1.2;
  text-align: justify;
  font-weight: lighter;
}
@media only screen and (max-width: 520px) {
  p.intro {
    font-size: 20px;
  }
}
p.intro a {
  color: #55acee;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  font-weight: 300;
  margin: 1em 0 0.25em 0;
}

h1 {
  font-size: 42px;
}
h1.words {
  color: #DB2C17;
}
h1.link {
  font-size: 32px;
}
h1.link .desc {
  font-weight: normal;
  color: #000;
}
@media only screen and (max-width: 700px) {
  h1 {
    line-height: 1.05em;
  }
}

h2 {
  font-size: 30px;
  color: #000;
}

h3 {
  margin: 2.0em 0 -0.75em 0;
  font-size: 17px;
  color: #333;
}
h3 a, h3 a:visited, h2 a, h2 a:visited{ color:#000; }
h3 a:hover, h2 a:hover{ color:#000; border:none; }

h4 {
  font-size: 1em;
  font-weight: normal;
  color: #000;
}

.pagination  {
  text-align: right;
  overflow: hidden;
}
.figure {
  margin: 19px 0 19px 0;
  padding: 2px;
  text-align: center;
  border: 1px solid #ddd;
  background: #f5f5f5;
  line-height: 0;
}
.fig-a {
  float: right;
  margin-left: 15px;
}
.figure small {
  margin: 2px 0 0 0;
  padding: 5px 7px;
  display: block;
  font-size: 11px;
  line-height: 12px;
  text-align: left;
  color: #666;
  background: #ddd;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.figure small strong {
  text-transform: uppercase;
}
.figure img {
  max-width: 100%;
}

blockquote {
  margin: 1.0em 0;
  padding: 0 0 0 15px;
  font-size: 16px;
}

blockquote p {
  margin: 12px 0;
  color: #999;
}

blockquote.note {
  border: 1px solid #d3e6ff;
  border-left: 5px solid #c4f0ff;
  padding: 20px 30px;
  color: #666;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
  background: #fdfdff;
  text-shadow: none;
}

table {
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #CCC;
	color: #000;
	background: #fff;
	border-collapse: separate;
	font-size: 11px;
}

caption {
	padding: 10px 10px 5px 0;
	text-align: left;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

th {
	text-align: center;
	padding: 5px;
}

td {
	text-align: center;
	padding: 3px 5px;
}
.odd td {
	background: #F0F1F2;
}
table.data th, table.data td {
  text-align: left;
}

p.note {
  color: #666;
}

.twitter-tweet-rendered {
  padding: 10px 0;
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 30px;
    line-height: 1.0;
    letter-spacing: 0;
  }

  .container .twitter-tweet-rendered.tw-align-center {
    width: 100% !important;
  }
}

img {
  max-width: 100%;
}

p > a > img {
  max-width: 100%;
}
/*----------------------------------------------------------------------------
  Follow Box
----------------------------------------------------------------------------*/

.keep-in-touch {
  text-align: right;
  margin: 30px 0;
  border-top: 1px solid #dfe4ea;
}
.keep-in-touch p:first-child {
  margin-top: 0;
  padding-top: 20px;
  border-top: 1px solid #fff;
}
.keep-in-touch a {
  color: #55acee;
}

@media only screen and (max-width: 520px) {
  .keep-in-touch {
    font-size: 14px;
  }
}

/*----------------------------------------------------------------------------
  Post details
----------------------------------------------------------------------------*/
div.post-details, div.author-details {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  margin-top: -10px;
  margin-bottom: 20px;
}

div.post-details > img,
div.author-details > img {
  float: left;
  width: 50px;
  border-radius: 100%;
  margin-left: 4px;
}

div.post-details > div,
div.author-details > div {
  float: left;
  padding: 7px 10px;
}

div.post-details > div > span,
div.author-details > div > span {
  display: block;
  line-height: 1em;
}

div.post-details div > span.post-date,
div.author-details div > span.post-date {
  color: green;
  margin-top: 4px;
  font-size: 0.8em;
}

/*----------------------------------------------------------------------------
  Code Styles
----------------------------------------------------------------------------*/

pre {
  margin: 16px 0;
  padding: 10px;
  color: #444;
  background: #fff;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
  overflow: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
code{
  padding: 0 4px;
  font-size: 0.9em;
  color: #556270;
  background: #F4FAFF;
  border-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  background: inherit;
  border-radius: 0;
}
code span.global {
  color: #3388DD;
}
code span.brackets {
  color: #777777;
}
code span.string {
  color: #BC6710;
}
code span.symbol, code span.selectors {
  color: #1199EE;
}
code span.properties {
  color: #BB4411;
}
code span.keywords {
  color: #44BB22;
}
code span.comment {
  color: #BCBCBC;
}
code span.shell {
  background:#f1f1f1;
}

code.html span.tag, code.xaml span.tag {
  color: #BB4411;
}
code.html span.attribute, code.xaml span.attribute {
  color: #44BB22;
}
code.html span.string, code.xaml span.string {
  color: blue;
}
code.html span.comment, code.xaml span.comment {
  color: #999999;
}
code.html span.doctype {
  color: #D7FF80;
}


.social-media-icons  {
  float: left;
  margin-right: 6px;
  color: black;
}


.owner-name {
  margin-left: 0;
}
/* @end */
.user-avatar {
  border-radius: 12px;
  float: left;
  height: 330px;
  margin: 0 13px 5px 0;
}

.copyright {
  display: block;
  margin: 30px 0 40px;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.footnotes {
  margin: 0;
  padding: 30px 0;
}
.footnotes::before {
  content: "References and Footnotes";
  font-size: 1em;
  font-weight: 600;
}
.footnotes > ol {
  margin: 0;
}
.footnotes > ol > li {
  margin-left: 30px;
  font-size: 14px;
  vertical-align: super;
  line-height: 1.75em;
  padding: 0;
}
.footnotes > ol > li > p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.utterances {
  margin: 20px 0 0;
  max-width: 100% !important;
  width: 100% !important;
}

img.main-banner {
  display: block;
  margin: 30px auto 0;
  width: 100%;
  max-width: 1024px;
}

/* Timeline Article Styles */
header.briefing {
  left: 0;
  overflow: auto;
  margin: 0 -100%;
  background: whitesmoke;
  padding-bottom: 20px;
}

header.briefing p {
  position: relative;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

header.briefing > .video {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

header.briefing > .video > iframe {
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 570px;
}

@media only screen and (max-width: 520px) {
  header.briefing > .video > iframe { height: 280px;}
}

@media only screen and (max-width: 800px) {
  header.briefing > .video > iframe { height: 451px;}
}

/* Timeline */
.timeline {
  position: relative;
  margin: 0px 0 30px;
}

.timeline > section {
  padding: 30px 10px 30px 50px;
  border-color: whitesmoke;
  border-width: 2px;
  margin-left: 30px;
  border-style: none none none solid;
}

.timeline > section > h2,
.timeline > section > p,
.timeline > section > ul {
    width: 90%;
}

.timeline > section > h2 {
  margin: 0;
}

.timeline > section > p {
  margin: 0.5em 0;
}

.timeline > section > p:last-child {
  margin-bottom: 0;
}

.timeline > section > blockquote {
  padding-left: 0;
  margin-left: 40px;
  width: calc( 90% - 40px );
  border-left: none;
}

.timeline > section > blockquote > p {
  color: black;
  font-weight: 600;
}

.timeline > section > time {
  position: absolute;
  left: 0;
  background: #666;
  padding: 0px 10px 2px;
  color: white;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  text-shadow: none;
}

/* Internet Timeline */
.internet-timeline,
.internet-timeline section,
.internet-timeline section h2,
.internet-timeline section h3,
.internet-timeline section blockquote {
    padding: 0;
    margin: 0;
}

.internet-timeline section {
    width: 90%;
    margin: 0 auto;
}

.internet-timeline section blockquote {
    margin: 0 0 20px 20px;
}

.internet-timeline section blockquote:before {
    font-size: 1.5em;
    position: relative;
    top: 0.65em;
}

.internet-timeline section blockquote p {
    border: 0px solid #aaa;
    border-width: 0 0 0 0px;
    color: black;
}

.internet-timeline section h3 {
    color: forestgreen;
    font-size: 1em;
    margin: 7px 0 10px;
    line-height: 1.5em;
}

/* Custom Quotations */
blockquote.quote:before,
.timeline > section > blockquote:before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.65em;
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  color: #999;
}

/* Embedded Gists */
.gist {
  margin-bottom: 50px;
}

.gist .gist-file {
  height: 400px;
  overflow: auto;
  position: relative;
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}

.gist .gist-file .gist-data {
  height: 100%;
  overflow: auto;
  position: relative;
}



.gist .gist-file .gist-data article {
  padding: 20px
}

.gist .gist-file .gist-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc( 100% - 20px );
}